.blockLocation {
    width: 20rem;
    position: relative;
    .blockLocation__location {
        width: 20rem;
        height: 4rem;
        font-size: 1.2rem;
        background-color: rgba(15, 113, 165, 0.9);
        border-radius: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        .blockLocation__location_img {
            width: 2.4rem;
            height: 2.4rem;
        }
        .blockLocation__location_placeholder {
            color: #ffffff;
        }
    }

    .blockLocation__location:hover {
        background-color: rgb(12, 90, 133);
    }

    .blockLocation__state_none {
        display: none;
    }

    .blockLocation__state_active {
        width: 20rem;
        max-height: 40rem;
        display: block;
        position: absolute;
        background-color: rgba(15, 113, 165, 0.9);
        color: #ffffff;
        font-size: 1.2rem;
        border-radius: 2rem;
        text-align: center;
        top: 5rem;
        padding: 1rem 0;
        .blockLocation__state_active_city {
            display: block;
            padding: 0.5rem;
            background-color: rgb(12, 90, 133, 0.5);
            margin: 0.8rem 3rem;
            border-radius: 2rem;
            cursor: pointer;
            transition: transform 0.2s;
        }
        .blockLocation__state_active_city:hover {
            background-color: rgb(9, 61, 88, 0.8);
            transform: scale(1.1);
        }
    }
}
