@use "./variables";
* {
    box-sizing: border-box;
    font-family: variables.$font;
}

html {
    width: 1440px;
    margin: 0 auto;
    font-size: 10px;
}

.app {
    font-size: variables.$fontSize;
    width: 144rem;
    height: 94.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem auto;
    border-radius: variables.$radius;
    background-image: url(../../../public/images/png/background/clear.png);
    background-size: cover;
    .wrapper {
        width: 135rem;
        height: 76.5rem;
        border-radius: variables.$radius;
        backdrop-filter: blur(5px); // размытие зднего фона
        // filter: blur(5px); // размытие рамки
        .header {
            height: 4rem;
            margin-top: -4.5rem;
            margin-left: 30rem;
            display: flex;
            gap: 5rem;
        }
        .wrap {
            margin-top: 3rem;
            display: flex;
            gap: 4rem;
            .aside {
                margin-top: 20rem;
                width: 25rem;
                height: 30rem;
                background-color: rgba(15, 113, 165, 0.5);
                border-radius: 4rem;
            }
        }
    }
}

