.btn {
    background-color: rgba(15, 113, 165, 0.9);
    border-radius: 4rem;
    border: none;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}
.btn:hover {
   background-color: rgb(12, 90, 133); 
}